Code/Module_12/Node-RED/flows.json
[{"id":"9311df132f940106","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"dd8c8ab7c4a10480","type":"mqtt in","z":"9311df132f940106","name":"","topic":"pico/temperature","qos":"2","datatype":"auto-detect","broker":"c2ddc1cff3af3be8","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":200,"wires":[["8241c6f84a135f73","08736ae9afe67ce0","d32ff29c8dfb5554"]]},{"id":"8241c6f84a135f73","type":"debug","z":"9311df132f940106","name":"Debug Temperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":140,"wires":[]},{"id":"34a8465218cad204","type":"mqtt in","z":"9311df132f940106","name":"","topic":"pico/humidity","qos":"2","datatype":"auto-detect","broker":"c2ddc1cff3af3be8","nl":false,"rap":true,"rh":0,"inputs":0,"x":710,"y":200,"wires":[["bf43072ed3d46195","475e2ba8b84d8255","9afa0e62d69c2b7b"]]},{"id":"bf43072ed3d46195","type":"ui-chart","z":"9311df132f940106","group":"17d2f3f20a8bd3d6","name":"","label":"Humidity","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#1396a0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":6,"height":8,"className":"","x":940,"y":200,"wires":[[]]},{"id":"475e2ba8b84d8255","type":"ui-text","z":"9311df132f940106","group":"17d2f3f20a8bd3d6","order":0,"width":0,"height":0,"name":"","label":"Humidity (%)","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":16,"color":"#1396a0","className":"","x":950,"y":260,"wires":[]},{"id":"08736ae9afe67ce0","type":"ui-text","z":"9311df132f940106","group":"922804369acd672d","order":2,"width":0,"height":0,"name":"","label":"Temperature (ºC)","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":16,"color":"#1f77b4","className":"","x":490,"y":260,"wires":[]},{"id":"d32ff29c8dfb5554","type":"ui-chart","z":"9311df132f940106","group":"922804369acd672d","name":"","label":"Temperature","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":6,"height":8,"className":"","x":470,"y":200,"wires":[[]]},{"id":"4969833e86fb01e1","type":"ui-switch","z":"9311df132f940106","name":"","label":"switch","group":"a7d6b3bf3fabf3ee","order":0,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":210,"y":400,"wires":[["e406e633b6b5f0c1"]]},{"id":"e406e633b6b5f0c1","type":"mqtt out","z":"9311df132f940106","name":"pico/led","topic":"pico/led","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c2ddc1cff3af3be8","x":460,"y":400,"wires":[]},{"id":"9afa0e62d69c2b7b","type":"debug","z":"9311df132f940106","name":"Debug Humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":120,"wires":[]},{"id":"c2ddc1cff3af3be8","type":"mqtt-broker","name":"","broker":"","port":"8883","tls":"","clientid":"Nodered","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"17d2f3f20a8bd3d6","type":"ui-group","name":"Humidity","page":"c63beefa7f95d92c","width":"6","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"922804369acd672d","type":"ui-group","name":"Temperature","page":"c63beefa7f95d92c","width":"6","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"a7d6b3bf3fabf3ee","type":"ui-group","name":"Led Control","page":"c63beefa7f95d92c","width":"3","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"c63beefa7f95d92c","type":"ui-page","name":"Raspberry Pi Pico Control","ui":"fe9922923f720902","path":"/page1","icon":"home","layout":"grid","theme":"693687557ec65ccf","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"fe9922923f720902","type":"ui-base","name":"Raspberry Pi Pico Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":true},{"id":"693687557ec65ccf","type":"ui-theme","name":"Theme Name","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]